<html>
    <head>
        <title>My Angular App!</title>
        <script src="assets/js/angular.min.js"></script>
        <script src="app.js"></script>
    </head>
    <body ng-app="flapperNews" ng-controller="MainCtrl">
        <div>
            {{test}}
        </div>

        <div ng-repeat="post in posts| orderBy:'-upvotes'">
            <a href="javascript:void(0);" ng-click="incrementUpvotes(post)">^</a>
            {{post.title}} - upvotes: {{post.upvotes}}
        </div>

        <form ng-submit="addPost()">
            <input type="text" ng-model="title"></input>
            <button type="submit">Post</button>
        </form>

    </body>
</html>
