<html>
    <head>
        <title>Flapper News</title>
        <link href="assets/css/bootstrap.min.css" rel="stylesheet">

        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">


        <link href="assets/css/styles.css" rel="stylesheet">


        <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <script src="assets/js/angular.min.js"></script>

        <script src="assets/js/angular-ui-router.js"></script>
        
        <script src="app.js"></script>
        <style> .glyphicon-thumbs-up { cursor:pointer } </style>
    </head>
    <body ng-app="flapperNews">
        <div class="container">
            <div class="col-md-6 col-md-offset-3">

                <ui-view></ui-view>


            </div>
        </div>





        <script type="text/ng-template" id="/home.html">
                
            <div class="page-header">
                <h1>Flapper News</h1>
            </div>

            <div ng-repeat="post in posts| orderBy:'-upvotes'">
                <span class="glyphicon glyphicon-thumbs-up"
                      ng-click="incrementUpvotes(post)"></span>
                {{post.upvotes}}
                <span style="font-size:20px; margin-left:10px;">
                    <a ng-show="post.link" href="{{post.link}}">
                        {{post.title}}
                    </a>
                    <span ng-hide="post.link">
                        {{post.title}}
                    </span>
                    <span>
                      <a href="#/posts/{{$index}}">Comments</a>
                    </span>
                </span>
            </div>

            <form ng-submit="addPost()" style="margin-top:30px;">
                <h3>Add a new post</h3>

                <div class="form-group">
                    <input type="text"
                           class="form-control"
                           placeholder="Title"
                           ng-model="title"></input>
                </div>
                <div class="form-group">
                    <input type="text"
                           class="form-control"
                           placeholder="Link"
                           ng-model="link"></input>
                </div>
                <button type="submit" class="btn btn-primary">Post</button>
            </form>

        </script>

        <script type="text/ng-template" id="/posts.html">
          <div class="page-header">
            <h3>foo
              <a ng-show="post.link" href="{{post.link}}">
                {{post.title}}
              </a>
              <span ng-hide="post.link">
                {{post.title}}
              </span>
            </h3>
          </div>

          <div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
            <span class="glyphicon glyphicon-thumbs-up"
              ng-click="incrementUpvotes(comment)"></span>
            {{comment.upvotes}} - by {{comment.author}}
            <span style="font-size:20px; margin-left:10px;">
              {{comment.body}}
            </span>
          </div>

          <form ng-submit="addComment()"    style="margin-top:30px;">
            <h3>Add a new comment</h3>

            <div class="form-group">
              <input type="text"
              class="form-control"
              placeholder="Comment"
              ng-model="body"></input>
            </div>
            <button type="submit" class="btn btn-primary">Post</button>
          </form>

  
        </script>

        <script type="text/ng-template" id="/list.html">
          

          <div class="table-title hide">
              <h3>Data Table</h3>
          </div>
          <table class="table-fill">
              <tbody class="table-hover">
                  <tr ng-repeat="item in list">
                      <td class="text-right">{{ item.days }} day{{item.days > 1 ? 's' : '' }} since</td>
                      <td class="text-left">I {{ item.event }}</td>
                      <td class="text-center"><a href="javascript:void(0)" ng-click="deleteActivity(item)"><i class="fa fa-trash"></i></a></td>
                  </tr>
              </tbody>
          </table>



<form ng-submit="addActivity()">
  <div class="form-group">
    <input type="number" class="form-control" ng-model="days" id="days_txt" placeholder="days">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" ng-model="event" id="event_txt" placeholder="event">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
        </script>
<!--

Doubts generated from EasySkillz:

  1. Job prospects german v/s english medium of instructions, on the basis of degree, university, technical/management, which industry, scale of industry, on campus off campus.

  answers:
        - https://www.quora.com/Is-it-worth-doing-Masters-in-Computer-Science-in-Germany
        German speaking recommended
        - http://www.payscale.com/research/DE/Job=Software_Engineer/Salary/cea68b4b/Entry-Level-Munich
        The average salary for an Entry-Level Software Engineer in Munich, Bavaria (Bayern) is €47,124 per year.
  
  2. C2 level India possible?

  Sources:
    - Quora
    - Blogs
    - Sifaya / Divya
    - 
-->
    </body>
</html>
